[submodule "ethereum-hdwallet"]
	path = ethereum-hdwallet
	url = git@github.com:tlswlsdntks/ethereum-hdwallet.git
[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/tlswlsdntks/go-ethereum.git
